extends layout

block content
  <!-- Set a style for our worldshape-data -->
  <style>
      path {
      stroke: grey;
      stroke-width: 0.5px;
      fill: #ccc;
      }
  </style>
  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Simple Sidebar - Start Bootstrap Template</title>

      <!-- Bootstrap Core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="css/simple-sidebar.css" rel="stylesheet">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>


  <!-- implementation of the hosted D3- and TopoJson js-libraries -->
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v0.min.js"></script>

  <body>

  <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">
                      Visualizations
                  </a>
              </li>
              <li>
                  <a href="#">Challenge question 1</a>
              </li>
              <li>
                  <a href="#">Challenge question 2</a>
              </li>
              <li>
                  <a href="#">Challenge question 3</a>
              </li>

          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12">
                      <div align="center">
                          <h4>572_Assignment3: Visual Search and Interaction with the DARPA XDATA Employment Data</h4>
                      </div>

                      <!-- map creation -->
                      <script src="visualizer.js"></script>
                      <div align="right">
                          <a href="#menu-toggle" id="menu-toggle">
                              <span class="glyphicon glyphicon-fullscreen">
                              </span>
                          </a>

                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });

  </script>

  </body>

