extends layout

block content
	#wrapper
		#sidebar-wrapper
			ul.sidebar-nav
				li.sidebar-branc
					h3 Visualizations
				li
					a(id='cq1' href='#') Challenge question 1
				li
					a(id='cq2' href='#') Challenge question 2
				li
					a(id='cq3' href='#') Challenge question 3
				li
					a(id='cq4' href='#') Challenge question 4
			#controls
				.cq-1
					#slider
						<input id="date" type="text" data-slider-min="1" data-slider-max="18" data-slider-step="1" data-slider-value="1"/><br/>
						<span id="slider">Year-Month: <span id="default_date">2012-07</span></span><br/>
						<select class="selectpicker" onclick="cq1Attr()"><option selected="selected" class="cq1-attr">Salary</option><option class="cq1-attr">Job Type</option><option class="cq1-attr">Company</option></select>
				.cq-2
					#slider2
						<input id="date2" type="text" data-slider-min="1" data-slider-max="18" data-slider-step="1" data-slider-value="1"/><br/>
						<span id="slider2">Year-Month: <span id="default_date2">2012-07</span></span><br/><br/>
						| Company: <form onsubmit="return runcq2();"><input id="company_name"></input></form>
				.cq-4
					#slider4
						<input id="date4" type="text" data-slider-min="1" data-slider-max="18" data-slider-step="1" data-slider-value="1"/><br/>
						<span id="slider4">Year-Month: <span id="default_date4">2012-07</span></span><br/><br/>
						| Job Category: <form onsubmit="return runcq4();"><input id="jobcat"></input></form>
		#page-content-wrapper
			.contrainer-fluid
				.row
					.col-lg-12
						div(align='center')
							h4 XDATA D3
						div(align='right')
							a(href='#menu-toggle' id='menu-toggle')
								span(class='glyphicon glyphicon-fullscreen')
	#canvas-div