* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
	outline: none;
}
.land {
  fill: #ddd;
}
 path {
  stroke: grey;
  stroke-width: 0.5px;
  fill: #ccc;
}
.bubble {
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
  fill: brown;
}
.bubble :hover {
  stroke: black;
}
#controls {
  position: relative;
  left: 15px;
  top: 250px;
}
.cq-1, .cq-2, .cq-4 {
  display: none;
}
#menu-toggle {
  padding-right:20px;
}