body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
	outline: none;
}
.land {
  fill: #ddd;
}
 path {
  stroke: grey;
  stroke-width: 0.5px;
  fill: #ccc;
}
.bubble {
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
  fill: brown;
}
.bubble :hover {
  stroke: black;
}