body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
	outline: none;
}
path {
    stroke: grey;
    stroke-width: 0.5px;
    fill: #ccc;
}
circle {
    fill-opacity: .5;
    stroke: #fff;
    stroke-width: .5px;
}